<!DOCTYPE html>
<html>
	<head>
		<title> class 1</title>
		<link href="style.css" rel="stylesheet" type="text/css"/>
	
	</head>
	
	<body>
		<div class="wrapper">
		
		<div class="header">
			<img src="images/pic.jpg" alt="company" >
			<h1>This is my web page</h1>
		</div>
		<div class="menu">
			<ul>
				<li><a href="#">Home</li>
				<li><a href="#">About</li>
				<li><a href="#">Contact</li>
				<li><a href="#">Bloge</li>
			<ul>
		</div>
		<div class="Content">
			<div class="main_content"></div>
			<div class="sidebar"></div>
		</div>
		<div class="footer">
			<p>&copy; 2019 my company | All Right Reserved!</p>
		</div>
		
		</div>
	
			
			
			
			
	</body>
</html>
		


